.header {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 3px;
  border-bottom: 1px solid gray;
  img {
    height: 30px;
    width: 30px;
  }
  .theam-icon {
    height: 30px;
    position: absolute;
    right: 25px;
    top: 15px;
    cursor: pointer;
  }
}
@media only screen and (max-width: 700px) {
  .header {
    font-size: 30px;
    font-weight: 600;
    img {
      height: 25px;
      width: 25px;
    }
    .theam-icon {
      height: 25px;
      top: 8px;
    }
  }
}